<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Transport Info</title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>

</head>

<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Transport Info</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="navbarCollapse" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li><a href="/admin" target="_blank">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

{% block body %} {% endblock %}

</div>
