{% extends "base.html" %}

{% block body %}

<div class="jumbotron">
    <h3 class="text-center">Львівський транспорт</h3>
    <br>
    <form class="form-inline" action="{{ url_for('search') }}" method="POST" align="center">
      <div class="form-group">
        <label for="select">Зупинка:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <select class="form-control" id="select" name="stop_id">
              <option>----------------</option>
              {% for stop in stops %}

              <option value="{{ stop.code }}" name="stop_id">{{ stop.name }}</option>

              {% endfor %}

              </select>
      </div>
      <button type="submit" class="btn btn-default">Показати</button>
    </form>
</div>

{% block info %} {% endblock %}

{% endblock %}
