{% extends "index.html" %}

{% block info %}

{% if data %}

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h4 class="text-center text-info">Зупинка: {{ stop_info }}</h4>

    <div class="table">
      <table class="table table-hover">
        <thead>
          <tr class="active">
            <th class="text-center">Транспорт</th>
            <th class="text-center">Маршрут</th>
            <th class="text-center">Кінцева</th>
            <th class="text-center">Прибуття</th>
          </tr>
        </thead>

        <tbody>

          {% for route in data %}

          <tr class="text-center">
            <td>
              {% if route.vehicle_type == 'bus' %} <img src="/static/img/bus.png" width="30" height="30" alt="route.vehicle_type"> {% else %} <img src="/static/img/tram.png" width="30" height="30" alt="route.vehicle_type"> {% endif %}
            </td>
            <td>{{ route.route }}</td>
            <td>{{ route.end_stop }}</td>
            <td>{{ route.time_left }}</td>
          </tr>
        </tbody>

        {% endfor %}

      </table>
    </div>
  </div>
</div>

{% else %}

<h3>Сталася помилка :(</h3>
<h3>Спробуйте ще</h3>

{% endif %}

{% endblock %}
